body{
  background-color: #e7e6e1;
  font-family: 'Roboto Slab', sans-serif;
  padding: 20px
}
/*header*/

.header-section {
  text-align: center;
}
.header {
  padding: 50px 50px 20px 50px;
  font-size: 2em;
  margin-top: 20px;
}
h1{
  font-weight: bold;
    }
.sub-title{
  font-size: 0.9rem;
  font-weight: lighter;
  margin: 20px auto 20px;
}
.header-img {
  display: block;
}
.img{
    margin: 0;
}
.img-description{
  padding-top: 0;
  margin-top: 0;
  font-size: 0.8em;
  font-style: italic;
  font-weight: lighter;
  }


/*content*/
.content-section {
  background-color: #f7f6e7;
}
.content-title {
  text-align: center;
  padding-top: 30px;
  margin: 30px  auto 30px;
  font-weight: bold;
  font-size: 1.2em;
}
.content{
  justify-content: center;
  }
span {
    font-weight: bold;
  }
.content-list {
    max-width: 600px;
    margin: 30px auto 50px auto;
    text-align: justify;
    padding-bottom: 10px;
    padding-right: 2rem;
  }
.content-items {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*footer*/

.footer-content {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
